* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Arial', sans-serif; */
    /* font-size: 1.5em; */
}

@font-face {
    font-family: 'Equilibrist';
    src: url('/fonts/ofont.ru_Equilibrist.ttf') format('ttf'),
    
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    padding: 10px 10px;
}

.menu-logo {
    position: absolute;
    left: 85%;
    /* transform: translateX(-50%); */
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    min-height: 100vh;
    font-size: 1em;
}

.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: sticky;
    height: 100%;
    border-radius: 1em;
}

.menu-title {
    color: #333;
    margin-bottom: 1%;
    font-size: 1vw;
    text-align: center;
    font-family: 'Equilibrist';
}

/* Скрываем меню по умолчанию на мобильных устройствах */
.menu-list {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.menu-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1%;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    margin-bottom: 15px;
}

.menu-list a {
    text-decoration: none;
    color: #555;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu-list a:hover {
    background-color: #f0f0f0;
    color: #222;
}

.menu-list .active {
    background-color: #e0e0e0;
    color: #222;
}

.content {
    /* flex: 1;
    margin-left: 5%; */
    display: flex;
    justify-content: space-between; /* Распределяет изображения с равными отступами */
    align-items: center; /* Выравнивает изображения по центру по вертикали */
}

.banner {
    width: 80vw;  /* Занимает всю ширину экрана */
    height: 100vh; /* Занимает всю высоту экрана */
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('src/img/donetsk-3.jpg');
    background-size: cover;  /* Растягивает фон без искажений */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Учитывает padding в ширине */
}

.banner-overlay {
    text-align: center;
    padding: 20px;
}

.project-title {
    font-size: 3em;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}


.article {
    max-width: 1400px;
    margin: 2.5%;
    padding: 2.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    /* font-size: 1.5em; */
}

.article h1 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: #333;
    margin-bottom: 20px;
}

.article img {
    object-fit: cover;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

.bla {
    /* max-width: 70%; */
    /* margin: 60px auto; */
    /* padding: 60px; */
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    overflow: hidden;
    margin: 2.5%;
}

.article p {
    /* display: flex; */
    color: #555;
    line-height: 1.6;
    margin-bottom: 2.5%;
    text-align: justify;
    text-indent: 5%;
    /* white-space: pre-line; */
}

  
.article::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Классы для обтекания */
.float-left {
    float: left;
    margin: 10px 15px 10px 0; /* Отступ справа и снизу */
  }
  
.float-right {
    float: right;
    margin: 10px 0 10px 15px; /* Отступ слева и снизу */
  }
  
  /* Центрирование изображения (без обтекания) */
.center {
    display: block;
    margin: 0px auto 2.5% auto; /* Центрирует и добавляет отступ сверху/снизу */
  }

  /* Общие классы для размеров */
.img-small {
    /* width: 100%; */
    width: 450px;
    height: auto;
  }
  
.img-medium {
    width: 720px;
    /* width: 100%; */
    height: auto;
    /* margin-bottom: 5%; */
  }

.str_img {
    display: flex;
    justify-content: center; /* Распределяет изображения с равными отступами */
    align-items: center; /* Выравнивает изображения по центру по вертикали */
    margin: 5px 5px 5px 5px; /* Отступы сверху и снизу */
}

.str_img img {
    max-width: 48%; /* Устанавливает ширину изображений, чтобы они помещались в строку */
    height: 200px; /* Сохраняет пропорции изображений */
    border-radius: 5px; /* Добавляет скругление углов */
}

/* Адаптация для планшетов (ширина экрана до 768px) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .banner {
        width: 100%;
        /* height: 50vh; Уменьшаем высоту на маленьких экранах */
        padding: 10px; /* Уменьшаем отступы */
    }

    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        box-shadow: none;
        border-radius: 1em;
    }

    .content {
        margin-left: 0;
    }

    .menu-title {
        font-size: 1.2em;
    }

    .menu-list a {
        font-size: 0.9em;
        padding: 8px;
    }

    .article {
        padding: 20px;
    }

    .img-small {
        width: 100%;
    }

    .img-medium {
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .menu-list {
        display: none; /* Скрыто по умолчанию */
    }

    .menu-list.active {
        display: flex; /* Показываем меню при активации */
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 1em;
    }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        padding: 0 10px;
    }

    .menu-header button {
        flex-shrink: 0; /* Кнопка остается фиксированной ширины */
    }

    .menu-title {
        font-size: 1.2em;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-logo {
        margin: 0;
        position: absolute;
        left: 85%;
        /* transform: translateX(-50%); */
    }

    .menu-toggle {
        display: block;
        margin: 0;
    }
}

/* Адаптация для мобильных устройств (ширина экрана до 480px) */
@media (max-width: 480px) {
    .menu-title {
        font-size: 1em;
    }

    .menu-list a {
        font-size: 0.8em;
        padding: 6px;
    }

    .article h1 {
        font-size: large;
    }

    .article p {
        font-size: 0.9em;
    }

    .float-left, .float-right {
        float: none;
        margin: 10px auto;
        display: block;
    }

    .center {
        margin: 10px auto;
    }
}

/* Показываем меню на десктопах */
@media (min-width: 769px) {
    .menu-list {
        display: flex; /* Показываем меню в виде горизонтального или вертикального списка */
        flex-direction: column; /* Оставляем вертикальное расположение */
    }

    .menu-toggle {
        display: none; /* Скрываем кнопку на больших экранах */
    }
}


